{% extends 'base.html' %}

{% block title %}Home{%endblock%}

{% block body %}

<div class="col-sm-5 offset-sm-3" style="background-color: white; border-radius: 10px; margin-top: 20px;">

    <form style="padding: 30px;" method="POST" action="{{ url_for('change_password' , customer_id=session['user_id']) }}">
    
        <input type="hidden">

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Current Password</label>
            <input type="password" name="current_password" required minlength="6" >
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">New Password</label>
            <input type="password" name="new_password" required minlength="6">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Confirm New Password</label>
            <input type="password" name="confirm_new_password" required minlength="6">
        </div>


        <input type="submit" value="Change Password">
    
    </form>

</div>


{% endblock %}